/* =Typography
-----------------------------------------------------------------------------*/
body {
  font-family: ubuntu, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: ubuntu, sans-serif;
  font-weight: 200;
}

input[type=text],
input[type=password],
textarea {
  font-family: ubuntu, sans-serif;
}

#main {
  margin: 1.3em 0 0 0;
}

.wrap {
  margin: auto;
  max-width: 960px;
  padding: 0 15px;
  height: 100%;
}

pre.response{
  color: #000000;
  padding-bottom: 3em;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap; 
  word-wrap: break-word;
  font-family: ubuntu, sans-serif;
}

p.post{
  padding-left: 1em;
  padding-bottom: 3em;
  word-wrap: break-word;
  white-space: pre-wrap;
}

h2.subj{
  padding-left: 1em;
}


/* =Links
-----------------------------------------------------------------------------*/


/* =Layout
-----------------------------------------------------------------------------*/
.input-prepend {
  text-align: center;
  min-width: 5em;
}

.pic {
float: left;
margin-right: 1em;
margin-bottom: 1em; 
}

.units-row {
	margin-bottom: 0;
}

/* =Header
-----------------------------------------------------------------------------*/


/* =Nav
-----------------------------------------------------------------------------*/
.nav-v {
	position: fixed;
}

.nav-v li > a{
  color: #000;
}

/* =Misc
-----------------------------------------------------------------------------*/
up {
    display: none;
    text-align: center;
    white-space:nowrap;
    padding: 5px;
    position: fixed;
    border-style: solid;
    border-width: 2px;
    border-radius: 12px;
    border-color: #999; 
    bottom:2.4em;
    right: 2.4em;
}
up:hover {
  border-color: #555;
}

up > i{
  color: #ef6465;
}

::selection {
    background: #ffff9e; /* Safari */
    }
::-moz-selection {
    background: #ffff9e; /* Firefox */
}

.gold {
  color:#f3c835;
  border-bottom: 1px dashed;
}

#unban {
  display: none;
}

#zaban {
  display: none;
  text-align: left;
  border-style: solid;
  border-color: #999;
  border-radius: 12px;
  border-width: 2px;
  background: #f5f5f5;
  position: fixed;
  padding: 0.5em;
  bottom: 1.4em;
}

#zaban > ul {
  list-style: none;
}

.bancat {
    text-align: center;
    background-image: url('/static/img/bancat.jpg');
    border-radius: 175px;
    position: relative;
    display: block;
    margin: 2.4em auto;
    box-shadow: 0px 0px 0px 2px #ef6465, 0px 0px 6px 6px #c72020;
    width: 350px;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* =Footer
-----------------------------------------------------------------------------*/
footer {
  text-align: center;
  position: static;
  bottom: 0;
  height: 5px;
}