/* http://almaer.com/scrollbar/debug.html */

/* Turn on a custom scrollbar */
::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

/* Turn on/off single button up on top, and down on bottom */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
	display: none;
}

/* Turn on/off the down area up on top, and up area on bottom */
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
	display: none;
}

/* Top area above thumb and below up button */
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-button {
	background-color: #f4f4f4;
}

/* The thumb itself */
::-webkit-scrollbar-thumb {
	background-color: #888;
	-webkit-border-radius: 7px;
	border: solid 2px #f4f4f4;
	background-clip: padding-box;
}
::-webkit-scrollbar-thumb:vertical {
	height: 50px;
}
::-webkit-scrollbar-thumb:horizontal {
	width: 50px;
}