{{include 'static/sections.html'}}<!DOCTYPE html>
<html>
<head>
{{head}}
</head>
<body>
<div class="wrap">
    <div id="main">
        <div class="units-row">
            <div class="unit-20">
                {{menu}}
            </div>
        <div class="unit-80 unit-push-20">
            <div class="units-row">
                <div class="unit-75">
                    <h1 class="text-centered"><a href="{{prefix_url}}/" class="color-red">Admin login</a></h1>
                </div>
                <div class="unit-25">
                </div>
            </div>
            <div class="units-row"> 
                <div class="unit-75">
                    {{adminform}}
                </div>
            </div>
            <hr/>
        </div>
        </div>
        {{footer}}
    </div>
</div>
</body>
</html>