{{include 'static/sections.html'}}<!DOCTYPE html>
<html>
<head>
{{head}}
</head>
<body class="mainpage">
    <div class="wrap">
        <div id="main">
            <div class="units-row">
                <div class="unit-20">
                    {{menu}}
                </div>
                <div class="unit-80 unit-push-20">
                    <div class="units-row">
                        <div class="unit-75">
                            {{logo}}{{panel}}
                        </div>
                        <div class="unit-25">
                        </div>
                    </div>
                    <div class="units-row"> 
                        <div class="unit-75">
                            {{postform}}
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>
            <div class="units-row">
                <div class="unit-20"></div>
                <div class="unit-80 unit-push-20">
                	<div class="unit-row">
                		<div class="unit-75">
                            <ul class="forms-list">
                                <li class="forms-inline">
                                    <span class="input-prepend">Start IP</span>
                                    <input id="start_ip" type="text" size="15" maxlength="15" placeholder="127.0.0.1"/>
                                </li>
                                <li class="forms-inline">
                                    <span class="input-prepend">Stop IP</span>
                                    <input id="stop_ip" type="text" size="15" maxlength="15" placeholder="127.0.0.1"/>
                                    <button id="banthem">Ban!</button><br/>
                                </li>
                            </ul>
                            <button id="remsel">remove selected</button><div id="suda"></div>
	                		<table class="width-100 table-striped">
                                <thead>
                                    <tr>
                                        <th>Start IP</th>
                                        <th>Stop IP</th>
                                        <th>Expires</th>
                                        <th></th>
                                    </tr>    
                                </thead>
    	                		<tbody>
        	                		{{for ban in bans}}
            	            		<tr>
                	            		<td>{{ban.ip_start}}</td>
                                        <td>{{ban.ip_stop}}</td>
                                        <td>{{ban.expires}}</td>
                                        <td><input type="checkbox" name="{{ban.id}}"/></td>
                   	     			</tr>
                   					{{endfor}}
                    			</tbody>
                			</table>
                		</div>
                	</div>
                </div>			
            </div>
            <div class="units-row">
                <div class="unit-20"></div>
                <div class="unit-80 unit-push-20">
                    <div class="unit-row">
                        <div class="unit-75">
                        	{{footer}}
                            <script type="text/javascript" src="{{prefix_url}}/static/js/bans.js"></script>
                        </div>
                    </div>
                </div>	
            </div>
        </div>
    </div>
</body>    
</html>