{{include 'static/sections.html'}}<!DOCTYPE html>
<html>
<head>
{{head}}
</head>
<body class="mainpage">
<div class="wrap">
	<div id="main">
		<div class="units-row">
			<div class="unit-20">
				{{menu}}
			</div>
			{{banned}}
			{{footer}}
		</div>
	</div>
</div>	
</body>
</html>