{{include 'static/sections.html'}}<!DOCTYPE html>
<html>
<head>
{{head}}
</head>
<body class="mainpage">
    <div class="wrap">
        <div id="main">
            <div class="units-row">
                <div class="unit-20">
                    {{menu}}
                </div>
                <div class="unit-80 unit-push-20">
                    <div class="units-row">
                        <div class="unit-75">
                            {{logo}}{{panel}}
                        </div>
                        <div class="unit-25">
                        </div>
                    </div>
                    <div class="units-row"> 
                        <div class="unit-75">
                            {{postform}}
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>
            <div class="units-row">
                <div class="unit-20"></div>
                <div class="unit-80 unit-push-20">
                    <div class="unit-row">
                        <div class="unit-75">
                            <button id="addinv">add</button>
                            <button id="remsel">remove selected</button><div id="suda"></div>
                            <table class="width-100 table-striped">
                                <thead>
                                    <tr>
                                        <th>Invitecode</th>
                                        <th>Taken?</th>
                                        <th>Expires</th>
                                        <th></th>
                                    </tr>    
                                </thead>
                                <tbody>
                                    {{for i in invites}}
                                    <tr>
                                        <td>{{i.invitecode}}</td>
                                        <td>{{i.taken}}</td>
                                        <td>{{i.expires}}</td>
                                        <td><input type="checkbox" name="{{i.invitecode}}"/></td>
                                    </tr>
                                    {{endfor}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>          
            </div>
            <div class="units-row">
                <div class="unit-20"></div>
                <div class="unit-80 unit-push-20">
                    <div class="unit-row">
                        <div class="unit-75">
                            {{footer}}
                            <script type="text/javascript" src="{{prefix_url}}/static/js/invites.js"></script>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</body>    
</html>