{{include 'static/sections.html'}}<!DOCTYPE html>
<html>
<head>
{{head}}
</head>
<body class="mainpage">
    <div class="wrap">
        <div id="main">
            <div class="units-row">
                <div class="units-20">
                </div>
                <div class="unit-80 unit-push-20">
                    <div class="units-row"> 
                        <div class="unit-75">
                            <h1 class="text-centered"><a href="{{prefix_url}}/" class="color-red">login</a></h1>
                        </div>
                        <div class="unit-25">
                        </div>
                    </div>
                    <div class="units-row"> 
                        <div class="unit-75">
                            <form method="post" action="{{prefix_url}}/{{action}}" class="forms">
                                    <ul class="forms-list">
                                        <li class="forms-inline">
                                            <span class="input-prepend">Login</span><input type="text" id="name" size="40" maxlength="40"/>
                                        </li>
                                        <li class="forms-inline">
                                            <span class="input-prepend">Password</span><input type="password" id="pass" size="40" maxlength="40"/>
                                        </li>
                                        <li class="forms-inline">
                                            <input type="submit" id="submit" name="send" class="btn btn-blue" value="Login" /> or 
                                            <input type="submit" id="anonlogin" name="send" class="btn btn-red" value="Enter anonymously"/>
                                            <input type="checkbox" id="tickme"/> I will be respectful
                                        </li>   
                                    </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
        </div>
    </div>
{{footer}}
<script type="text/javascript" src="{{prefix_url}}/static/js/sha512.js"></script>
<script type="text/javascript" src="{{prefix_url}}/static/js/login.js"></script>
</body>
</html>