{{include 'static/sections.html'}}<!DOCTYPE html>
<html>
<head>
{{head}}
</head>
<body class="mainpage">
	<script>setTimeout(function(){$(location).attr('href',"{{prefix_url}}/#");},4000);</script>
<div class="wrap">	
	<div id="main">
		<div class="units-row">
			<div class="unit-20">
				{{menu}}
			</div>
			{{if notfound}}
			{{not_found}}
			{{else}}
			{{woops}}
			{{endif}}
		</div>
	</div>		
{{footer}}
</div>
</body>
</html>

