{{include 'static/sections.html'}}<!DOCTYPE html>
<html>
<head>
{{head}}
</head>
<body class="mainpage">
<div class="wrap">
    <div id="main">
        <div class="units-row">
            <div class="unit-20">
            </div>
            <div class="unit-80 unit-push-20">
                <div class="units-row">
                    <div class="unit-75">
                        <h1 class="text-centered"><a href="{{prefix_url}}/" class="color-red">New user registration</a></h1>
                    </div>
                    <div class="unit-25">
                    </div>
                </div>
                <div class="units-row"> 
                <div class="unit-75">
                        <form method="post" action="{{prefix_url}}/{{action}}" class="forms">
                            <ul class="forms-list">
                                <li class="forms-inline">
                                <span class="input-prepend">Login</span><input type="text" id="name" size="40" maxlength="40  "/>
                                </li>
                                <li class="forms-inline">
                                <span class="input-prepend">Password</span><input type="password" id="pass" size="40"     maxlength="40"/>
                                </li>
                                <li class="forms-inline">
                                   <span class="input-prepend">Re-type</span><input type="password" id="repass" size="   40" maxlength="40"/>
                                </li>
                                <li class="forms-inline">
                                <span class="input-prepend">Invite</span><input type="text" id="invite" size="40"   maxlength="40" value="{{invite}}"/>
                                </li>
                                <li class="forms-inline">
                                    <input type="submit" id="submit" class="btn" value="Submit" />
                                </li>   
                            </ul>
                        </form>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
    </div>    
{{footer}}
<script type="text/javascript" src="{{prefix_url}}/static/js/sha512.js"></script>
<script type="text/javascript" src="{{prefix_url}}/static/js/register.js"></script>
</div>
</body>
</html>