{{def head}}
    <title>Snakeboard - {{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{prefix_url}}/static/css/kube.min.css" />
    <link rel="stylesheet" type="text/css" href="{{prefix_url}}/static/css/master.css" />
    <link rel="stylesheet" type="text/css" href="{{prefix_url}}/static/css/scrollbar.css" />
    <link rel="stylesheet" type="text/css" href="{{prefix_url}}/static/css/css/font-awesome.min.css">
	<script src="//use.edgefonts.net/ubuntu:n3,i3,n4,i4,n5,i5,n7,i7:all.js"></script>
    <link rel="stylesheet" type="text/css" href="{{prefix_url}}/static/js/fbox/jquery.fancybox.css?v=2.1.5" media="screen" />
{{enddef}}

{{def menu}}
{{default admin_mode = False}}
{{default admin_thread_mode = False}}
<nav class="nav-v">
            <header>
                <h1><a href="{{prefix_url}}/#" class="color-red">#snakeboard</a></h1>
                <span class="supersmall">testing...</span>
            </header>
            <ul>
                <li><a href="{{prefix_url}}/div1/">/div1/</a></li>
                <li><a href="{{prefix_url}}/div2/">/div2/</a></li>
                <li><a href="{{prefix_url}}/div3/">/div3/</a></li>
            </ul>
            <br/>
            <ul>
                <!-- <li><a href="{{prefix_url}}/#" class="supersmall" id="profile">[profile]</a></li> -->
            </ul>
</nav>
{{if admin_mode or admin_thread_mode}}
<div id="zaban" board="{{boardname}}">
    <ul></ul>
    <button id="btndel" class="btn btn-small" type="button">удалить</button></br>
    <button id="btnmove" class="btn btn-small" type="button">переместить</button></br>
    <button id="btnban" class="btn btn-small" type="button">забанить</button></br>
</div>
{{endif}}
{{enddef}}

{{def logo}}
         <h1 class="text-centered"><a href="{{prefix_url}}/{{boardname}}/" class="color-red">/ {{boardname}} /</a></h1>
         <h2 class="text-centered subheader">{{description}}</h2>
{{enddef}}

{{def postform}}
{{default admin_mode = False}}
{{default admin_thread_mode = False}}
<form method="post" action="{{prefix_url}}/{{action}}" class="forms" enctype="multipart/form-data">
    <ul class="forms-list">
        <li class="forms-inline">
            <span class="input-prepend">Name</span><input type="text" name="name" size="40" maxlength="40"/>
        </li>
        <li class="forms-inline">
            <span class="input-prepend">Subject</span><input type="text" name="subject" size="40" maxlength="60"/><input type="submit" name="send" class="btn btn-append" value="Submit" />
        </li>
        {{if admin_mode}}
        <li class="forms-inline">
            <input type="checkbox" name="threadlock" value="locked"/> Locked?
        </li>
        {{endif}}
        <li><span class="btn-group">
                <button class="btn f_b" type="button"><i class="icon-bold"></i></button>
                <button class="btn f_i" type="button"><i class="icon-italic"></i></button>
                <button class="btn f_u" type="button"><i class="icon-underline"></i></button>
                <button class="btn f_s" type="button"><i class="icon-strikethrough"></i></button>
            </span>    
            <span class="btn-group">    
                <button class="btn f_tex" type="button">TeX</button>
                <button class="btn f_ltex" type="button">inline-TeX</button>
            </span>
            <textarea id="txtarea" class="width-100" name="message" style="height: 100px;" maxlength="4000"></textarea>
        </li>
        <li class="forms-inline">
            <span class="input-prepend">Image</span><input type="file" name="imagefile" id="imginput"/>
            <div id="warn" class="color-red"></div>
        </li>
        <li class="forms-inline">
            <!--<span class="input-prepend">Password</span><input name="password" size="8" maxlength="8" type="password">-->
        </li>   
    </ul>
</form>
{{enddef}}

{{def adminform}}
<form method="post" action="{{prefix_url}}/{{action}}" class="forms">
        <ul class="forms-list">
            <li class="forms-inline">
                <span class="input-prepend">Name</span><input type="text" name="name" size="40" maxlength="40"/>
            </li>
            <li class="forms-inline">
                <span class="input-prepend">Password</span><input type="password" name="password" size="40" maxlength="40"/>
            </li>
            <li class="forms-inline">
                <input type="submit" name="send" class="btn" value="Submit" />
            </li>   
        </ul>
</form>
{{enddef}}

{{def panel}}
{{default admin_mode = False}}{{default admin_thread_mode = False}}{{if admin_mode or admin_thread_mode}}
<a id="banki" class="color-red big">[banhammer]</a>
<a id="list_bans" href="{{prefix_url}}/x/banlist"  class="color-red big">[bans]</a>
<a id="list_invites" href="{{prefix_url}}/x/invites" class="color-red big">[invites]</a>
<a id="list_users" href="{{prefix_url}}/x/users" class="color-red big">[users]</a>
<a id="exit" class="color-red big">[exit]</a>
{{endif}}
{{enddef}}


{{def board}}
{{default admin_mode = False}}
{{for post in posts}}
<div class="tpq">
<div class="units-row">
    <div class="unit-20"></div>
    <div class="unit-80 unit-push-20">
    <div class="units-row">
        <div class="unit-75">
            <h2 class="subj">{{default labels = False}}{{if labels[post] == 'locked'}}<i class="icon-lock" title="Locked"></i>{{elif labels[post] == 'deleted'}}<u class="color-red">[deleted]</u>{{endif}} {{post.subject}}</h2>
            <p class="post" id="{{post.id}}">{{if post.imagedata}}<a class="fancybox" rel="group" href="{{imgur(post.imagedata)}}"><img src="{{thumb(post.imagedata)}}" class="pic"/></a>{{endif}}{{postlink(post.message, boardname)}}</p>
{{if ommited[post.id]}}
    <span class="supersmall grey">{{ommited[post.id]}} posts omitted. Click Reply to view.</span>
{{endif}}
        </div>
        <div class="unit-25">
            <span class="subheader">{{post.name}}</span>&nbsp;&nbsp;&nbsp;<a href="{{prefix_url}}/{{boardname}}/thread/{{post.id}}/" class="color-red">#{{post.id}}</a>
            <br/>
            <span class="small">{{post.timestamp.strftime("%b. %d %Y - %H:%M")}}</span>
            <br/>
            <span>[<a href="{{prefix_url}}/{{boardname}}/thread/{{post.id}}/" class="color-red">Reply</a>]</span>
            {{if admin_mode}}
            <br/>
            {{post.ip}}<input type="checkbox" class="mods" name="{{post.id}}" poster="{{post.ip}}" head="yes" value="chosen"/>
            {{endif}}
        </div>
    </div>
    </div>
</div>
{{for reply in replies[post.id]}}
<div class="units-row">
    <div class="unit-20"></div>
    <div class="unit-80 unit-push-20">
    <div class="units-row">
        <div class="unit-75">
            <pre class="response" id="{{reply.id}}">{{if reply.imagedata}}<a class="fancybox" rel="group" href="{{imgur(reply.imagedata)}}"><img src="{{thumb(reply.imagedata)}}" class="pic"/></a>{{endif}}{{postlink(reply.message, boardname)}}</pre>
        </div>
        <div class="unit-25">
            <span class="subheader">{{reply.name}}</span>&nbsp;&nbsp;&nbsp;<a href="{{prefix_url}}/{{boardname}}/thread/{{post.id}}/" class="color-red">#{{reply.id}}</a>
            <br/>
            <span class="small">{{reply.timestamp.strftime("%b. %d %Y - %H:%M")}}</span>
            {{if admin_mode}}
            <br/>
            {{reply.ip}}<input type="checkbox" class="mods" name="{{reply.id}}" poster="{{reply.ip}}" head="no" value="chosen"/>
            {{endif}}
        </div>
    </div>
    </div>
</div>
{{endfor}}
<div class="units-row">
    <div class="unit-20"></div>
    <div class="unit-80 unit-push-20">
    <hr/>
    </div>
</div>
</div>
{{endfor}}
{{enddef}}


{{def thread}}
{{default admin_thread_mode = False}}
<div class="units-row">
<div class="unit-20"></div>
    <div class="unit-80 unit-push-20">
    <div class="units-row">
        <div class="unit-75">
            <h2 class="subj">{{head_post.subject}}</h2>
            <p class="post" id="{{head_post.id}}">{{if head_post.imagedata}}<a class="fancybox" rel="group" href="{{imgur(head_post.imagedata)}}"><img src="{{thumb(head_post.imagedata)}}" class="pic"/></a>{{endif}}{{postlink(head_post.message, boardname)}}</p>
        </div>
        <div class="unit-25">
            <span class="subheader">{{head_post.name}}</span>&nbsp;&nbsp;&nbsp;<a href="{{prefix_url}}/{{boardname}}/thread/{{head_post.id}}/#{{head_post.id}}" class="reflink color-red">#{{head_post.id}}</a>
            <br/>
            <span class="small">{{head_post.timestamp.strftime("%b. %d %Y - %H:%M")}}</span>
            {{if admin_thread_mode}}
            <br/>
            {{head_post.ip}}<input type="checkbox" class="mods" name="{{head_post.id}}" poster="{{head_post.ip}}" head="yes" value="chosen"/>
            {{endif}}
        </div>
    </div>
    </div>
</div>
{{for post in posts}}
<div class="units-row">
    <div class="unit-20"></div>
    <div class="unit-80 unit-push-20">
    <div class="units-row">
        <div class="unit-75">
            <pre class="response" id="{{post.id}}">{{if post.imagedata}}<a class="fancybox" rel="group" href="{{imgur(post.imagedata)}}"><img src="{{thumb(post.imagedata)}}" class="pic"/></a>{{endif}}{{postlink(post.message, boardname)}}</pre>
        </div>
        <div class="unit-25">
            <span class="subheader">{{post.name}}</span>&nbsp;&nbsp;&nbsp;<a href="{{prefix_url}}/{{boardname}}/thread/{{head_post.id}}/#{{post.id}}" class="reflink color-red">#{{post.id}}</a>
            <br/>
            <span class="small">{{post.timestamp.strftime("%b. %d %Y - %H:%M")}}</span>
            {{if admin_thread_mode}}
            <br/>
            {{post.ip}}<input type="checkbox" class="mods" name="{{post.id}}" poster="{{post.ip}}" head="yes" value="chosen"/>
            {{endif}}
        </div>
    </div>
    </div>
</div>
{{endfor}}
{{enddef}}


{{def footer}}
{{default scrolldive = False}}
{{default admin_mode = False}}
{{default admin_thread_mode = False}}
<footer id="footer">
</footer>
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="{{prefix_url}}/static/js/jquery.insertatcaret.min.js"></script>
<script type="text/javascript" src="{{prefix_url}}/static/js/jquery.endless-scroll.js"></script>
<!--<script type="text/javascript" src="{{prefix_url}}/static/js/jquery.clickUrl.js"></script>-->
{{if scrolldive}}<script type="text/javascript" src="{{prefix_url}}/static/js/scrolldive.js"></script>{{endif}}
<script>var ENGINE_JSPREFIX = "{{prefix_url}}";</script>
{{if admin_mode or admin_thread_mode}}<script type="text/javascript" src="{{prefix_url}}/static/js/admin.js"></script>{{endif}}
<script type="text/javascript" src="{{prefix_url}}/static/js/fbox/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript" src="{{prefix_url}}/static/js/scichan.js"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax:{inlineMath:[['$','$'],['\[ltex\]','\[\/ltex\]']],displayMath:[['$$','$$'],['\[tex\]','\[\/tex\]']],skipTags: ["script","noscript","style","textarea","pre.response","code"]},"HTML-CSS":{linebreaks:{automatic:true,width:"container"} }, TeX: {extensions: ["mhchem.js", "color.js"]} });</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<!--[if lt IE 9]>
<script>
    var head = document.getElementsByTagName('head')[0], style = document.createElement('style');
    style.type = 'text/css';
    style.styleSheet.cssText = ':before,:after{content:none !important';
    head.appendChild(style);
    setTimeout(function(){ head.removeChild(style); }, 0);
</script>
<![endif]-->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->   
{{enddef}}


{{def not_found}}
    <div class="unit-80 unit-push-20">
    <div class="units-row">
        <div class="unit-75">
        <h1 class="text-centered"><a href="{{prefix_url}}/" class="color-red">404</a></h1>
        <img src = "http://404.jpg.to/l+r">
        </div>
    </div>
    <hr/>
    </div>
{{enddef}}


{{def woops}}
    <div class="unit-80 unit-push-20">
    <div class="units-row">
        <div class="unit-75">
        <h1 class="text-centered" class="color-red"><a href="{{prefix_url}}/" class="color-red">WOOOPS!</a></h1>
        {{reason}}
        </div>
    </div>
    <hr/>
    </div>
{{enddef}}


{{def banned}}
    <div class="unit-80">
    <div class="units-row">
        <div class="unit-75">
        <h1 class="text-centered" class="color-red"><a href="{{prefix_url}}/" class="color-red">BANNED</a></h1>
        <div class="bancat"></div>
        </div>
    </div>
    </div>
{{enddef}}