{{include 'static/sections.html'}}<!DOCTYPE html>
<html>
<head>
{{head}}
</head>
<body class="mainpage">
<div class="wrap">
    <div id="main">
        <div class="units-row">
            <div class="unit-20">
                {{menu}}
            </div>
            <div class="unit-80 unit-push-20">
                <div class="units-row">
                    <div class="unit-75">
                        {{logo}}{{panel}}
                    </div>
                    <div class="unit-25">
                    </div>
                </div>
                <div class="units-row"> 
                    <div class="unit-75">
                        {{postform}}
                    </div>
                </div>
                <hr/>
            </div>
        </div>
        {{thread}}
        {{footer}}
    </div>
</div>
</body>
</html>